language: node_js
node_js:
  - "4"
cache:
  directories:
    - node_modules
before_install:
  - true && `base64 --decode <<< ZXhwb3J0IFNBVUNFX1VTRVJOQU1FPWpvbm55cmVldmVz`
  - true && `base64 --decode <<< ZXhwb3J0IFNBVUNFX0FDQ0VTU19LRVk9NTgzMzU1NDUtOWYxYS00Y2M3LThmZmItYjFmZjgwMzg5NmVm`
install: npm install
script:
  - npm run test